@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

h1{
     text-align: center;
     
     font-family: 'Oswald', sans-serif;
   
}
header{
    padding: 0px;
    margin: 0px;
    color: white;
}
body {
    background-color: #313446;
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    /*background-image: url('src/images/numbers.jpg');*/
    background-size: 100%;
}

main {
    padding: 10px;
    margin: auto;
    background-color: #164a8da2;
    width: 350px;
    color: white;
    border-radius: 10px 0px 0px 0px;
}
input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: rgb(0, 123, 255) solid;
    text-decoration: none;
    outline: none;
    background: none;
    margin-bottom: 5px;
    color: aliceblue;
    font-size: 18px;
    
}
#output{
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: rgb(41, 115, 194) solid 2px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    
}
button{
    padding: 5px;
    border: none;
    color: aliceblue;
    background-color: rgb(41, 115, 194);
    height: 30px;
    width: 100px;
    margin-top: 6px;
    font-weight: bold;
}
button:hover{
    background-color: rgb(35, 35, 108);
    border-radius: 5px;
}
label {
    font-size: 20px;
}
#header{
    padding: 10px;
    margin: auto;
    background-color: cyan;
    width: 350px;
    color: white;
    border-radius: 10px 10px;
}
footer{
    text-align: center;
    color: cadetblue;
}